@tailwind base;
@tailwind components;
@tailwind utilities;

input{
    border: 2px;
    border-color: black;
    border-style: solid;
}
button{
    background-color: brown;
    border: 2px;
    border-color: black;
    border-style: solid;
}